[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]
ingenialink = "==5.3.0"
ingenialogger = ">=0.2.0"

[dev-packages]
sphinx = "==3.5.4"
sphinx-rtd-theme = "*"
sphinxcontrib-bibtex = "*"
matplotlib = "*"
nbsphinx = "*"
ipython = "*"
Cython = "==3.0a6"
rst2pdf = "*"
